<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center"> Signup </span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="signupForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label> Teacher Name </mat-label>
                <input matInput formControlName="tname" required>
                <mat-error *ngIf = "signupForm.controls.tname.touched && signupForm.controls.tname.invalid">
                    <span *ngIf = "signupForm.controls.tname.errors.required"> This field is mandatory</span>
                    <span *ngIf = "signupForm.controls.tname.errors.pattern"> Invalid value</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label> Email ID </mat-label>
                <input matInput formControlName="emailId" required>
                <mat-error *ngIf = "signupForm.controls.emailId.touched && signupForm.controls.emailId.invalid">
                    <span *ngIf = "signupForm.controls.emailId.errors.required"> This field is mandatory</span>
                    <span *ngIf = "signupForm.controls.emailId.errors.pattern"> Invalid value</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>  Password </mat-label>
                <input matInput formControlName="passkey" required type="password">
                <mat-error *ngIf = "signupForm.controls.passkey.touched && signupForm.controls.passkey.invalid">
                    <span *ngIf = "signupForm.controls.tname.errors.required"> This field is mandatory</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" 
    [disabled]="!(signupForm.valid && signupForm.dirty)">Signup</button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
